
mixin formGroupInput(dataId, displayName, required, type, useBy)
    div( class='form-group-wrap clearfix' data-used-by='#{useBy}')
        .form-group
            label( for='#{dataId}' class='col-sm-3 control-label')
                span #{displayName}
                if (required === true )
                    i.fa.fa-asterisk.text-danger
            .col-sm-9
                input( id='#{dataId}' data-id='#{dataId}', type='#{type}' class='form-control')
                .help-block

mixin formGroupInputHidden(dataId, required, useBy)
    div( data-used-by='#{useBy}' style='display: none')
        .form-group
            input( id='#{dataId}' data-id='#{dataId}', type='hidden')
//-    // debug: use to revieal hidden field
//-    div( data-used-by='#{useBy}' style='')
//-        .form-group
//-            input( id='#{dataId}' data-id='#{dataId}', type='text')
